<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VotingApp"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity   android:name=".Register" ></activity>
        <activity   android:name=".Home"
                    android:label="Home"></activity>
        <activity   android:name=".CreatePoll"
                    android:label="Create Poll"></activity>
        <activity   android:name=".JoinPoll"
                    android:label="Joining a poll"></activity>
        <activity   android:name=".Voting"
                    android:label="Voting"></activity>
        <activity   android:name=".Results"
                    android:label="Results"></activity>
        <activity   android:name=".AlternativeVoteVoting"
                    android:label="Voting"></activity>
        <activity   android:name=".AlternativeVoteResult"
                    android:label="Results"></activity>
        <activity   android:name=".PollingMethodsExplained"
                    android:label="Polling Methods Explained"></activity>
        <activity   android:name=".AllPolls"
                    android:label="All Polls"></activity>
        <activity   android:name=".MyPolls"
                    android:label="My Polls"></activity>
        <activity   android:name=".SuccessfulRegister"></activity>
    </application>

</manifest>